.swiper_wrap { padding: 0px 50px; height: 100%; width: 100%; position: relative; display: block; text-align: left; }

header { margin-top: 5px; }
header .weatherInfo { font-style: italic; font-size: 10px; letter-spacing: 0.2px; }
header .dateInfo { font-size: 9.6px; padding-left: 2px; padding-top: 2px; }
header .dropdown:hover .dropdown-menu { display: block; }
header .dropdown-menu { margin-top: 0; }
header .dropdown-toggle { display: inline; padding-right: 3px; }
header .dropdown { margin-top: 30px; font-size: 12px; font-weight: 600; }
header .dropdown span { font-weight: 800; }
header .dropdown .dropdown-toggle::after { content: none; }
header .spesficContainer { float: right; grid-template-rows: 30px; grid-template-columns: 100px 100px 100px; }
header .spesficContainer .mornigNight { display: contents; }
header .spesficContainer .mornigNight .btn-toggle { margin-left: 35%; border-radius: 40px; font-size: 10px; height: 19px; line-height: 0.1; padding: 0px 7px; background-color: black; color: white; }
header .spesficContainer .mornigNight .btn-toggle img { width: 12px; }
header .spesficContainer .cityTime { margin-top: 0px; }
header .spesficContainer .namazInfo .namazName { display: inline; font-size: 11px; font-style: italic; padding-left: 3px; }
header .spesficContainer .namazInfo span { font-size: 11px; font-style: italic; padding-left: 3px; float: right; }
header .mainIcon .Logo { background-image: url(https://assets.turkmedya.com.tr/star/assets/img/sprite.png?v=1608032970353); background-position: 0 0; width: 193px; height: 69px; }

body { --text-color: #222; --bkg-color: #fff; }

body.dark-theme { --text-color: #eee; --bkg-color: #121212; }

@media (prefers-color-scheme: dark) { /* defaults to dark theme */
  body { --text-color: #eee; --bkg-color: #121212; }
  body.light-theme { --text-color: #222; --bkg-color: #fff; } }
body { background: var(--bkg-color); }

.lightmode { color: var(--text-color); }

nav { padding-top: 15px; padding-bottom: 10px; }
nav .navbar-nav { width: 100%; }
nav .navbar-nav .active { width: 9%; text-align: center; }
nav .navbar-nav .active a { font-size: 14px; font-weight: 700; padding: 0px; text-align: center; text-decoration: none; color: var(--text-color); }
nav .navbar-nav .guncel { width: 12%; }
nav .navbar-nav .dunya { width: 10%; }
nav .navbar-nav .eco { width: 10%; }
nav .navbar-nav .yasam { width: 10%; }
nav .navbar-nav .bilim { width: 18%; }
nav .navbar-nav .acik { width: 13%; }
nav .navbar-nav .yazar { text-align: end; }

.exchangePath { background-color: black; height: 40px; }
.exchangePath .moneyCourse { padding-top: 9px; }
.exchangePath .moneyCourse ul li { padding: 0; background-color: black; color: white; font-size: 13px; width: 23%; }
.exchangePath .moneyCourse ul li span { margin-left: 5px; font-weight: bold; font-family: cursive; }

.networkLive { padding-top: 4px; padding-left: 17px; }
.networkLive ul .imgLi { width: 22%; }
.networkLive ul .Liv { width: 28%; }
.networkLive ul .onlVid { width: 23%; }
.networkLive ul .netvorkMarginLi { margin: 0px 4px; }
.networkLive ul .searcLi { width: 10%; }
.networkLive ul .searcLi a { float: right; }
.networkLive ul li { padding: 0px; background-color: black; color: white; }
.networkLive ul li a { color: white; font-size: 13px; text-decoration: none; padding-top: 3px; font-weight: 500; }
.networkLive ul li a .photo { width: 15%; background-color: white; border-radius: 2px; margin-right: 5px; }
.networkLive ul li a .video { width: 14%; background-color: white; margin-right: 3px; border-radius: 2px; }
.networkLive ul li a .live { width: 16%; background-color: white; margin-right: 5px; border-radius: 2px; }
.networkLive ul li a .fb { background-color: #d1d1d1; border-radius: 19px; width: 18px; }
.networkLive ul li a .tivtter { background-color: #d1d1d1; border-radius: 19px; width: 17px; padding: 3px 3px; }
.networkLive ul li a .instaYotube { background-color: #d1d1d1; border-radius: 19px; width: 18px; padding: 2px 2px; }
.networkLive ul li a .searcIc { width: 19px; }

.breakingNews { background: linear-gradient(180deg, #f40000 0, #b70000 100%); height: 45px; }
.breakingNews .col-md-1 { border-right: 1px solid white; margin-top: 6px; }
.breakingNews .LestMinut a { color: white; font-weight: bold; text-decoration: none; line-height: 1; }
.breakingNews .LestMinut a p { margin: 0; }

.col-md-11 .slider-wrapper .swiper-wrapper .swiper-slide { width: auto !important; padding-top: 12px; }
.col-md-11 .slider-wrapper .swiper-wrapper .swiper-slide a { color: white; font-size: 12px; font-weight: 400; text-decoration: none; }
.col-md-11 .slider-wrapper .swiper-wrapper .swiper-slide .timer { background-color: #efef06; color: black; padding: 2px; font-size: 9px; font-weight: 900; font-family: sans-serif; margin-right: 4px; }

aside { margin: 18px 0px; }
aside img { width: 100%; }

.swiper-slide { font-size: 18px; /* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover; }

.swiper { width: 100%; height: 110px; margin-left: auto; margin-right: auto; background-color: black; }

.swiper-slide { background-size: cover; background-position: center; }
.swiper-slide p { color: white; position: absolute; font-size: 46px; font-weight: 700; background-color: #00000080; width: 45%; top: 30%; left: 20px; }

.mySwiper2 { height: 420px; width: 100%; }

.mySwiper { box-sizing: border-box; }

.mySwiper .swiper-slide { width: 25%; height: 100%; opacity: 0.4; }

.mySwiper .swiper-slide-thumb-active { opacity: 1; }

.swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover; }

.mySwiper .child { width: 270px; border-bottom: 4px solid red; margin-right: 0px !important; }
.mySwiper .child img { border-radius: 100px; width: 90px; padding: 11px; height: 90px; }
.mySwiper .child h3 { font-size: 16px; color: white; font-weight: 400; }

/*# sourceMappingURL=style.css.map */
